{
  "prefix": "+",
  "token": "token",
  "owners": [
    "643116087919116298"
  ],
  "states": [
    "Schtarn",
    "Ashan",
    "Cronokz",
    "Novorsk",
    "Tetrin",
    "Zhalka",
    "Utenie",
    "Ghranten",
    "Khachlen",
    "Rocktz",
    "Realmz",
    "Esteny",
    "Quadrian"
  ],
  "Schtarn_initial_money": 20000000,
  "Ashan_initial_money": 5000000,
  "Cronokz_initial_money": 5000000,
  "Novorsk_initial_money": 3000000,
  "Tetrin_initial_money": 5000000,
  "Zhalka_initial_money": 3000000,
  "Utenie_initial_money":5000000,
  "Ghranten_initial_money": 5000000,
  "Khachlen_initial_money": 5000000,
  "Rocktz_initial_money": 5000000,
  "Realmz_initial_money": 5000000,
  "Esteny_initial_money": 5000000,
  "Quadrian_initial_money": 7000000,
  "corp_establish_minimum_currency": 15000000,
  "money_unit": "SCU",
  "dev_banner_url": "https://cdn.discordapp.com/attachments/1074197705498316800/1130694285075959848/dev_banner.png",
  "color_main": "FF0A54",
  "color_success": "00FF00",
  "color_cancel": "FF0000",
  "visualize_nothing_block": "121212",
  "visualize_residential_block": "D9974C",
  "visualize_corporate_block": "78A6E1",
  "visualize_industrial_block": "A96F5A",
  "visualize_natural_block": "8BAC6B",
  "visualize_security_block": "BA4B4E",
  "visualize_traffic_block": "9F8ECB",
  "visualize_hospital_block": "FFFFFF",
  "visualize_leisure_block": "EECD79"
}